/* body {
  color: purple;
}

header {
  background-image: linear-gradient(to top, #a8edea 0%, #fed6e3 100%);
  padding-top: 20px;
  padding-bottom: 20px;
  color: #5d4db5;
  text-align: center;
  border-radius: 10px 10px 0 0;
}

.banner {
  background-image: linear-gradient(to top, #a8edea 0%, #fed6e3 100%);
  padding-top: 0px;
  padding-bottom: 0px;
}
#fahrenheit-input {
  color: pink;
}
#celsius-input {
  color: pink;
}

.main {
  background-image: linear-gradient(to top, #30cfd0 0%, #330867 100%);
  padding-top: 40px;
  padding-bottom: 40px;
  text-align: center;
  text-decoration: none;
}
aside {
  background-image: linear-gradient(to top, #a3bded 0%, #6991c7 100%);
  font-size: 25px;
  text-align: center;
  text-decoration: none;
}

.weather-app-wrapper {
  max-width: 600px;
  margin: 30px auto;
}
.weather-forecast {
  background-image: linear-gradient(to top, #5f72bd 0%, #9b23ea 100%);
  padding-top: 40px;
  padding-bottom: 40px;
  color: white;
  text-align: center;
}

  color: white;
  font-size: 16px;
  font-weight: 100;
  line-height: 19px;
}

ul {
  text-decoration: none;
  list-style: none;
}

#submit {
  color: #fbc8d4;
  margin: 5px;
  text-align: center;
}

.btn-outline-success {
  color: pink;
  border-color: pink;
  margin: 5px;

  text-align: center;
  display: inline-block;
  width: 100%;
}
.btn-outline-success:hover {
  background-color: pink;
  color: #5d4db5;
  border-color: #5d4db5;
}
.weekly-forecast {
  text-align: center;
  color: #5d4db5;
  font-size: 30px;
  border-radius: 4px;
  padding-top: 10px;
  padding-bottom: 10px;
}
.weather-forecast img {
  display: block;
  margin: 0 auto;
  height: 48px;
  width: 48px;
}

#icon {
  display: block;
  margin: 0 auto;
  height: 200px;
  width: 200px;
}

#weather-forecast-temperature {
  width: 25%;
}
footer {
  background-image: linear-gradient(to top, #a8edea 0%, #fed6e3 100%);
  padding-top: 20px;
  padding-bottom: 20px;
  border-radius: 0 0 10px 10px;
  text-align: center;
  color: #952de5;
  font-weight: 600;
}
a {
  color: #5d4db5;
}
a:hover {
  text-decoration: none;
  color: pink;
}
.container {
  height: auto;
}
#current-location-button {
  background-color: pink;
  color: #5f72bd;
  border-color: #5f72bd;
  margin: 20px;
}

 */

body {
  font-family: arial, sans-serif;
}

h1 {
  color: #5f72bd;
  font-size: 24px;
  font-weight: 100;
  line-height: 28px;
  margin-bottom: 0;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
  margin: 0;
  padding: 0;

  color: rgb(135, 135, 135);
  font-size: 16px;
  font-weight: 100;
  line-height: 19px;
}

li:first-letter {
  text-transform: capitalize;
}

.weather-app-wrapper {
  max-width: 650px;
  margin: 40px auto;
}

.weather-app {
  padding: 30px;
  border: 1px solid #dadde1;
  border-radius: 15px;
  background-image: linear-gradient(to top, #a8edea 0%, #fed6e3 100%);
}
a {
  color: #5f72bd;
}

.overview {
  margin-bottom: 20px;
}
.btn btn-primary {
  background-color: #5f72bd;
}
.weather-temperature img {
  margin-right: 5px;
  height: 64px;
  width: 64px;
}

.weather-temperature strong {
  color: rgb(33, 33, 33);
  font-size: 64px;
  line-height: 1;
  font-weight: 400;
}
#fahrenheit-input {
  color: pink;
}
#celsius-input {
  color: pink;
}

.weather-temperature .units {
  position: relative;
  font-size: 16px;
  top: -34px;
}

.weather-temperature .active {
  color: rgb(33, 33, 33);
  cursor: default;
}

.weather-temperature .active:hover {
  text-decoration: none;
}

.weather-forecast {
  margin-top: 10px;
}

.weather-forecast h3 {
  color: rgb(186, 186, 186);
  font-size: 14px;
  font-weight: 400;
  text-align: center;
  height: 15px;
  line-height: 15px;
  padding-top: 7px;
}

.weather-forecast img {
  display: block;
  margin: 0 auto;
  height: 48px;
  width: 48px;
}

.weather-forecast-temperature {
  text-align: center;
  color: rgb(135, 135, 135);
  font-size: 13px;
  font-weight: 400;
  height: auto;
  line-height: 15px;
  white-space: nowrap;
}
