body {
  font-family: arial, sans-serif;
  background-image: url("background.jpg");
}

h1 {
  color: #5f72bd;
  font-size: 50px;
  font-weight: 400;
  line-height: 28px;
  margin: 20px;
}

h5 {
  color: #5f72bd;
  font-size: 24px;
  font-weight: 100;
  line-height: 28px;
  margin-bottom: 0;
  z-index: 1;
}

ul {
  margin: 10px;
  padding: 0;
  text-align: left;
}

li {
  list-style: none;
  margin: 10px;
  padding: 0;
  color: rgb(135, 135, 135);
  font-size: 16px;
  font-weight: 100;
  line-height: 19px;
  text-align: left;
}

li:first-letter {
  text-transform: capitalize;
}

.weather-app-wrapper {
  max-width: 800px;
  margin: 20px auto;
}

.weather-app {
  padding: 40px;
  border: 5px solid #dadde1;
  border-radius: 15px;
  background-image: linear-gradient(to top, #a8edea 0%, #fed6e3 100%);
}
a {
  color: #5f72bd;
}
a:hover {
  color: #5f72bd;
}

.overview {
  margin-bottom: 30px;
}
.weather-temperature img {
  margin-right: 5px;
  height: 200px;
  width: 200px;
}

.weather-temperature strong {
  color: rgb(218, 123, 123);
  font-size: 64px;
  line-height: 2;
  font-weight: 500;
}

.weather-temperature .units {
  position: relative;
  font-size: 16px;
  top: -34px;
}

.weather-temperature .active {
  color: rgb(186, 186, 186)
  cursor: default;
}

.weather-temperature .active:hover {
  text-decoration: none;
}

.weather-forecast {
  margin-top: 20px;
}

.weather-forecast h3 {
  color: #5f72bd;
  font-size: 15px;
  font-weight: 20;
  text-align: center;
  height: 15px;
  line-height: 15px;
  padding-top: 7px;
}

.weather-forecast img {
  display: block;
  margin: 0 auto;
  height: 50px;
  width: 50px;
}

.weather-forecast-temperature {
  text-align: center;
  color: rgb(135, 135, 135);
  font-size: 13px;
  font-weight: 400;
  height: auto;
  line-height: 15px;
  white-space: nowrap;
}
